# SPDX-FileCopyrightText: 2023, 2025 Alyssa Ross <hi@alyssa.is>
# SPDX-License-Identifier: CC0-1.0

[Unit]
After=network-online.target
Description=Monitor for Gorgon %I GitHub events
Requires=network-online.target

[Service]
DynamicUser=true
StandardInput=file:%S/gorgon-github-events/%i/last_ids
StandardOutput=truncate:%S/gorgon-github-events/%i/ids
ExecStart=gorgon-github-events %i cat
ExecStart=mv %S/gorgon-github-events/%i/ids %S/gorgon-github-events/%i/last_ids
ExecStart=sync %S/gorgon-github-events/%i/last_ids %S/gorgon-github-events/%i
Type=oneshot
