{#
SPDX-FileCopyrightText: 2023 embr <git@liclac.eu>

SPDX-License-Identifier: EUPL-1.2
#}

<div class="derivation card {% if is_built %}border-success{% endif %}" style="margin-bottom: 10px;">
  <div class="card-header d-flex align-items-center">
    <h5 class="flex-grow-1 {% if is_built %}text-success{% endif %}" style="margin-bottom: 0;">
      {% if is_built %}
        <span title="Has output(s) in store">☑</span>
      {% else %}
        <span title="No output(s) in store">☐</span>
      {% endif %}
      <code style="color: inherit;">{{ path }}</code>
    </h5>
    <ul class="nav nav-tabs card-header-tabs justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page">Derivation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path }}?p=log">Log</a>
      </li>
    </ul>
  </div>
  <table class="table table-responsive">
    <tr>
      <th scope="row">Outputs</th>
      <td>
        <table class="table table-responsive">
          {% for (name, path, valid) in outputs %}
          <tr class="{% if valid %}table-success{% endif %}">
            <td style="text-align: right; width: 0;">
              {% if valid %}
                <span aria-label="Present">☑</span>
              {% else %}
                <span aria-label="Absent">☐</span>
              {% endif %}
            </td>
            <td style="text-align: right; width: 0;">
              <span class="badge rounded-pill bg-secondary">{{ name }}</span>
            </td>
            <td>{{ path }}</td>
          </tr>
          {% endfor %}
        </table>
      </td>
    </tr>
    {% if builds.len() > 0 %}
    <tr>
      <th scope="row">Builds</th>
      <td>
        <table class="table table-responsive">
          {% for build in builds %}
          <tr class="{% if build.end.is_some() %}table-success{% endif %}">
            <td style="text-align: right; width: 0;">
              {% if build.end.is_some() %}
                {% let d = build.end.unwrap() - build.start %}
                {% if d.num_hours() > 0 %}{{ d.num_hours() }}h {%endif %}
                {% if d.num_minutes() > 0 %}{{ d.num_minutes() }}m {%endif %}
                {% if d.num_seconds() > 0 %}{{ d.num_seconds() }}s {%endif %}
              {% else %}
                <span aria-label="Building">⏳</span>
              {% endif %}
            </td>
            <td style="width: 0;">{{ build.start.format("%Y-%m-%d") }}</td>
            <td style="width: 0;">{{ build.start.format("%H:%M") }}</td>
            <td>{{ build.machine_name }}</td>
          </tr>
          {% endfor %}
        </table>
      </td>
    </tr>
    {% endif %}
    <tr>
      <th scope="row">Sources</th>
      <td>
        <ul class="list-group list-group-flush">
          {% for src in drv.input_srcs %}
          <li class="list-group-item">
            <a href="{{ src }}">{{ src }}</a>
          </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <th scope="row">Inputs</th>
      <td>
        <ul class="list-group list-group-flush">
          {% for tmpl in input_tmpls %}
          {{ tmpl|safe }}
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <th scope="row">Builder</th>
      <td><a href="{{ drv.builder }}">{{ drv.builder }}</a></td>
    </tr>
    <tr>
      <th scope="row">Args</th>
      <td>
        <ul class="list-group list-group-flush">
          {% for arg in drv.args %}
          <li class="list-group-item">
            {% if arg.starts_with("/nix/store/") %}<a href="{{ arg }}">{{ arg }}</a>{% else %}{{ arg }}{% endif %}
          </li>
          {% endfor %}
        </ul>
      </td>
    </tr>
    <tr>
      <th scope="row">Environment</th>
      <td style="padding-top: 0;">
        <table class="table table-responsive">
          {% for (key, value) in env_html %}
          <tr>
            <th scope="row">{{ key }}</th>
            <td>{{ value|safe }}</td>
          </tr>
          {% endfor %}
        </table>
      </td>
    </tr>
  </table>
</div>
