{#
SPDX-FileCopyrightText: 2023 embr <git@liclac.eu>

SPDX-License-Identifier: EUPL-1.2
#}

<li class="list-group-item {% if is_valid %}list-group-item-success{% endif %}">
  {% if input_tmpls.len() > 0 %}
  <details>
    <summary>
  {% else %}
  <span style="margin-left: 14pt;">
  {% endif %}

    {% if is_valid %}
      <span title="Exists in store">☑</span>
    {% else %}
      <span title="Does not exist in store">☐</span>
    {% endif %}
    <a href="{{ path }}">{{ path }}</a>
    {% if is_seen_before %} […]{% endif %}
    <a href="{{ path }}?p=log" class="badge rounded-pill bg-secondary">log</a>

  {% if input_tmpls.len() > 0 %}
  </summary>
    <ul class="list-group list-group-flush">
      {% for tmpl in input_tmpls %}
      {{ tmpl|safe }}
      {% endfor %}
    </ul>
  </details>
  {% else %}
  </span>
  {% endif %}
</li>
