# SPDX-FileCopyrightText: 2023 embr <git@liclac.eu>
# SPDX-FileCopyrightText: 2024 Erin Shepherd <erin.shepherd@e43.eu>
#
# SPDX-License-Identifier: EUPL-1.2

.direnv
/target
/tmp
result
result-*

/nix-supervisor.sock
/nix-supervisor.db
.direnv/

/data
